@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@700&family=Tenor+Sans&display=swap');
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem 10%;
  height: 5rem;
  background-color: #202020;
}

.logo__image{
    color: #2cb6b6;
    margin-right: 5px;

}
.logo {
    font-weight: bold;
  font-size: 1.5rem;
  color: white;
  font-family: "Tenor Sans", sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2cb6b6;
}

.logo a {
  text-decoration: none;
  color: #94fdfd;
}

.navigation a {
  text-decoration: none;
  color: #74dacc;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .logo {
    font-size: 1.5rem;
  }

  .navigation a {
    font-size: 1.5rem;
  }
}
